* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: #ebdbb2;
}

button {
    border: none;
    border-radius: 999px;
    transition: background-color 500ms ease;
    color: #ebdbb2;
    font-weight: 400;
}

button:hover {
    background-color: #3c3836;
}

button.active {
    background-color: #b8bb26;
    color: #282828;
}

button.active:hover {
    background-color: #8ec07c;
}

#window, #clock, #custom-start, #custom-power {
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces, #window, #clock, #custom-start, #custom-power {
    margin: 5px;
    margin-bottom: 0px;
    background-color: #282828;
    border-radius: 999px;
}

#window.empty {
    background-color: rgba(50, 50, 50, 0);
    opacity: 0;
}
