/* window {
    background-color: rgb(57,57,57);
}

#entry, #text, #input {
    transition: background-color 500ms ease, color 500ms ease;
}

#input {
    background-color: rgb(57,57,57);
    border-radius: 11px;
    margin-bottom: 10px;
}

#input, #input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#entry {
    padding: 8px 12px;
    border-radius: 999px;
    color: #fff;
}

#entry:hover {
    background-color: rgb(69,69,69);
}

#entry:selected {
    background-color: #fff;
    outline: none;
}

#entry:selected #text {
    color: rgb(57,57,57);
} */
#outer-box {
    padding: 10px;
}

#entry {
    border-radius: 7px;
    padding: 5px 8px;
    margin-top: 10px;
}
